[submodule "Common/three.js"]
	path = Common/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "Common/webgl-obj-loader"]
	path = Common/webgl-obj-loader
	url = https://github.com/frenchtoast747/webgl-obj-loader.git
[submodule "Common/hammer.js"]
	path = Common/hammer.js
	url = https://github.com/hammerjs/hammer.js.git
[submodule "Common/spin"]
	path = Common/spin
	url = https://github.com/fgnass/spin.js
[submodule "Common/gamepad.js"]
	path = Common/gamepad.js
	url = https://github.com/sgraham/gamepad.js/
[submodule "Common/colorPicker"]
	path = Common/colorPicker
	url = https://github.com/PitPik/colorPicker.git
[submodule "Common/jColorPicker"]
	path = Common/jColorPicker
	url = https://github.com/josedvq/colpick-jQuery-Color-Picker.git
